<div class="container-fluid">
  <div class="row  justify-content-center">
  <app-header class="col-md-2 col-lg-2 col-4"></app-header>
  <div class="col-md-10 col-lg-7 col-7 main">
  <div>
    <button class="btn btn-info" (click)="calc(1)">FoodHUB</button>
    <button class="btn btn-info" (click)="calc(2)">SmartAUTOS</button>
    <button class="btn btn-info" (click)="calc(3)">SmartMARKET</button>
    <button class="btn btn-info" (click)="calc(3)">Training</button>
  </div>
<div *ngIf="g != 0"><h1>{{name}}</h1>
<div><form class="form-inline" action="/action_page.php">
  <input class="form-control mr-sm-2" type="text" placeholder="Search">
  <button class="btn btn-success" type="submit">Search</button>
</form></div>
</div>
<div class="row">
  <div class="table-reponsive">
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>surname</th>
      <th>firstname</th>
      <th>phone</th>
      <th>Email</th>
      <th>business type</th>
      <th>business name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let qie of Data">
      <td>{{qie.Surname}}</td>
      <td>{{qie.Name}}</td>
      <td>{{qie.Phone}}</td>
      <td>{{qie.Email}}</td>
      <td>{{qie.Business_Type}}</td>
      <td>{{qie.Business_name}}</td>
    </tr>
  </tbody>
</table>
</div> 
</div>
</div>
</div>
</div>

